{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}
{% block body %}
  <section class="digital-shop">
                <div class="container">
                    <div class="row">
                    {% for biens in shuffe %}
                        <div class="col-xl-4 col-md-6 d-flex ">
                            <div class="digital-group  wow animate__animated animate__fadeInUp" data-wow-delay=".1s">
                                <div class="pharmacy-equipments">
                                    <div class="digital-pharmacy">
                                        <h6>{{ biens.titre }}</h6>
                                        <h4>prix: {{ biens.prix }}</h4>
                                        <h6>{{ biens.descriptif }}</h6>
                                        </div>
                                    <div class="digital-shop-img">
                                        <a href="view-product.html">
                                            <img class="default-img" src="uploads/biens/{{ biens.image }}" alt="">
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                    </div>
                </div>
            </section>
    <!-- Trending Products -->
			<section class="trending-products">
                <div class="container">
                        <div class="row"><div class="section-title wow animate__animated animate__fadeIn" data-wow-delay="0">
                            <h3>LES DEMANDES POPULAIRE</h3>
                            <h6>Devenez propriétaire aujourdh'hui</h6>
                        </div>

                        <div class="col-xl-12">
							<div class="feature-product-slider arrow-center position-relative">
                                <div class="slider-arrow slider-arrow-two carousel-4-columns-arrow" id="carousel-5-columns-arrows"></div>
                                <div class="carousel-4-columns carousel-arrow-center" id="carousel-5-columns">
                                    {% for bien in top_products %}
                                    <div class="product-card wow animate__animated animate__fadeIn" data-wow-delay=".1s">
                                        <div class="product-img-col">
                                            <div class="product-img product-img-zoom">
                                                <a href="">
                                                    <img  src="uploads/biens/{{ bien.image }}" alt="">
                                                </a>
                                            </div>
                                            <div class="product-badge">
                                                <span class="best">{{ bien.status ? 'Location' : 'Vente' }}</span>
                                            </div>
                                        </div>
                                        <div class="product-content">
                                            <h2><a href="view-product.html">{{ bien.titre }}</a></h2>
                                            <div class="product-card-bottom ">
                                                <div class="rating d-inline-block">
													<td>{{ bien.descriptif }}</td>
												</div>
                                            </div>
                                            <div class="product-card-bottom ">
                                                <div class="product-price">
                                                    <span>{{ bien.prix }}</span>
                                                </div>
                                            </div>
                                            <div class="add-feature">
                                            {% if   bien.id !=0 %}
                                                
                                            {% endif %}
                                                <a href="{{path("add_to_cart", {id: bien.id})}}" class="btn btn-primary"><i class="fi-rs-heart"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                    {% else %}
                                            <p colspan="7">no records found</p>
                                    {% endfor %}
                                </div>
                            </div>
						</div>
                    </div>
                </div>
            </section>
{% endblock %}
