 <!-- Footer --> 
    <li class=""><small>&copy; 2022 La Safer'project</small></li>                
    <li class=""><small><a href="">Mentions légales</a></small></li>                
<ul class="">
    {# <li class="list-group-item"><a href="#">Retour haut de page</a></li>                 #}
</ul>
<!--===============================================================================================-->
<script type="text/javascript" src="{{ asset('assets/js/jquery-3.6.0.min.js') }}"></script>
<!--===============================================================================================-->
<script type="text/javascript" src="{{ asset('assets/js/bootstrap.bundle.min.js') }}"></script>
<!--===============================================================================================-->
<script type="text/javascript" src="{{ asset('assets/plugins/slick/slick.js') }}"></script>
<!--===============================================================================================-->
<script type="text/javascript" src="{{ asset('assets/js/wow.js') }}"></script>

<!--===============================================================================================-->
<script type="text/javascript" src="{{ asset('assets/plugins/select2/select2.min.js') }}"></script>
<!--==============================================================================================-->
<script type="text/javascript" src="{{ asset('assets/js/scrollup.js') }}"></script>
<!--===============================================================================================-->
<script type="text/javascript" src="{{ asset('assets/plugins/theia-sticky-sidebar/jquery.theia.sticky.js') }}"></script>
<!--==============================================================================================-->
<script type="text/javascript" src="{{ asset('assets/js/jquery.elevatezoom.js') }}"></script>
<!--==============================================================================================-->
<script type="text/javascript" src="{{ asset('assets/plugins/perfect-scrollbar/perfect-scrollbar.js') }}"></script>
<!--==============================================================================================-->
<script type="text/javascript" src="{{ asset('assets/js/waypoints.js') }}"></script>
<!--==============================================================================================-->
<script type="text/javascript" src="{{ asset('assets/js/shop.js') }}"></script>
<!--==============================================================================================-->
<script type="text/javascript" src="{{ asset('assets/js/script.js') }}"></script>

