
    <main class="container-fluid">
    
        <header class="header">
            <div class="header-middle d-none d-lg-block">
                <div class="container">
                    <div class="header-col">
                        <div class="logo header-logo">
                            <a href="index.html" class="d-none d-lg-block"><img src="{{ asset('assets/img/logo.png') }}" alt="logo"></a>
                            <a href="index.html" class="d-lg-none d-sm-block"><img src="{{ asset('assets/img/logo.png') }}" alt="logo"></a>
                        </div>
                        <div class="header-right">
                            <div class="header-search">
                                <form action="javascript:;">
                               
                                    <input type="text" placeholder="Rechercher vos biens">
                                    <input type="submit" name="form-submit" class="submit-btn popup-toggle3">
                                </form>
                            </div>
                            <div class="header-details">
                                <div class="header-inner">
                                {% if app.user %}
                                    <a class="nav-link" href="{{ path('app_logout') }}">Déconnexion</a>
                                {% else %}
                                <label class="file-uploaded ml-15 me-2">
                                    <a class="nav-link" href="{{ path('app_login') }}">Connexion</a>
                                </label>
                                {% endif %}
                                    <div class="header-inner-icon ">
                                            <a class="small-cart-icon" href="{{ path('app_favoris_index') }}">
                                            <i class="feather-heart"></i>
                                            </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="header-bottom sticky-bar">
                <div class="container">
                    <div class="header-col">
                        <div class="logo header-logo d-block d-lg-none">
                            <a href="index.html" class="d-none d-lg-block"><img src="{{ asset('assets/img/logo.png') }}" alt="logo"></a>
                            <a href="index.html" class="d-sm-block"><img src="{{ asset('assets/img/logo.png') }}" alt="logo"></a>
                        </div>
                        <div class="header-nav d-none d-lg-flex">
                            <div class="main-menu d-none d-lg-block">
                                <nav>
                                    <ul>
                                        <li>
                                            <a class="active" href="{{path("app_home")}}">Accueil</a>
                                        </li>
                                        <li>
                                            <a href="#">Nos biens<i class="fi-rs-angle-down"></i></a>
                                            <ul class="has-submenu">
                                                {% for cat in categories %}
                                                <li><a href="{{path("show_bien_by_categorie", {id: cat.id})}}">{{cat.libelle}}</a></li>
                                                {% endfor %}
                                            </ul>
                                        </li>
                                        <li>
                                            <a href="#">Contact</a>
                                        </li>
                                        <li>
                                            <a href="#">A propos</a>
                                        
                                        </li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                        <div class="header-inner-icon d-block d-lg-none">
                            <div class="bar-icon">
                                <span class="bar-icon-one"></span>
                                <span class="bar-icon-two"></span>
                                <span class="bar-icon-three"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <div class="main-menu-wrapper">
            <div class="mobile-header-inner">
                <div class="mobile-header-top">
                    <div class="mobile-header-logo">
                        <a href="index.html"><img src="{{ asset('assets/img/logo.png') }}" alt="logo" /></a>
                    </div>
                    <div class="mobile-menu-close close-col menu-close-position">
                        <button class="close-style">
                            <i class="icon-top"></i>
                            <i class="icon-bottom"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </main>
