{% extends 'base.html.twig' %}

{% block title %}Hello FavorisController!{% endblock %}
{% block body %}
{% for message in app.session.flashbag.get('success') %}
    <div class="alert alert-success">{{ message }}</div>
{% endfor %}
            <div class="container mb-80 mt-50">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="cart-totals mb-50">
                            <div class="d-flex align-items-end justify-content-between mb-20">
                                <h4>Vos favoris</h4>
                            </div>
                            <div class="table-responsive order_table checkout">
                                <table class="table no-border mb-0">
                                    <thead>
                                        <tr>
                                            <th>Favoris </th>
                                            <th>Prix</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for element in dataPanier %}
                                            <tr>
                                                <td class="check-cart-img">
                                                <img  style="max-width: 15%" src="/uploads/biens/{{ element.produit.image }}">
                                                    <h6> {{ element.produit.titre }}</h6> 
                                                </td>
                                                <td>
                                                    <h4 class="text-brand">{{ element.produit.prix }}€</h4>
                                                </td>
                                                <td>
                                                    <a href="{{path("delete", {id: element.produit.id})}}" class="btn btn-danger">
                                                    <i class="bi bi-cart-x"></i>supprimer
                                                    </a>
                                                </td>
                                            </tr>
                                        {% else %}
                                            <tr>
                                                <td colspan="5" class="text-center">veuillez choisir votre bien</td>
                                            </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                            <div class="total-checkout">
                                <h3>Total <span>{{ total }}€</span>
                                    <span class="text-end"> 
                                        <a href="{{path("delete_all")}}" class="btn btn-danger">
                                            <i class="bi bi-cart-x"></i> Vider mon panier
                                        </a>
                                    </span>
                                </h3>
                                
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6">
                        <a href="{{path("app_home")}}" class="btn btn-success">
                        <i class="bi bi-cart-x"></i>ajouter autre favoris
                        </a>
                    </div>
                    <div class="col-lg-6">
                        <a href="{{path("app_favoris_new")}}" class="btn btn-success">
                        <i class="bi bi-cart-x"></i>s'envoyer par mail
                        </a>
                    </div>
                </div>
            </div>
{% endblock %}
